{{>head header=header}}
{{>navbar}}

    <h1 class="text-center m-5 p-5 text-primary">
        <strong>404</strong> <br>
        You searched for {{header.title}} not found on the server.
    </h1>
    
{{>footer}}
